$mainColor: #37195A;
$darkColor: #26094A;
$highlightColor: #573480;
$red: #BF0426;
$blue: #59D8E6;
$yellow: #F0C600;
$green: #45BF55;
$purple: #553285;
$pink: #FF358B;
@font-face {
  font-family: "Nixie One";
  src: url(../NixieOne-Regular.otf);
}
@font-face {
  font-family: "Pacifico";
  src: url(../Pacifico.ttf);
}
@font-face {
  font-family: "Maven Pro Offline";
  src: url(../MavenPro.ttf);
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row {
	width: 100%;
	max-width: 600px;
}
#wrapper {
	width: 100%;
	overflow: visible;
	margin-bottom: 10px;
	&.learningMode .valid {
		// border: 1px solid white;
		box-shadow: 0 0 10px $pink inset;
	}
}
body {
	font-family: 'Maven Pro', 'Maven Pro Offline', 'Nixie One', cursive;
	background: $mainColor; //2
	color: #D5FBFF;
	font-size: 18px;
}
h1, .row h2 {
	font-family: 'Pacifico', cursive;
	color: #D5FBFF;
	text-align: center;
}
h2 {
	margin: 2rem 0;
}
section {
	// margin-top: 2rem;
	&#game {
		margin-top: 0;
	}
}
p {
	font-size: 1em;
	line-height: 1.65;
}
.check {
	width: 80px;
	height: 80px;
	background: $darkColor; //2
	// border: 1px solid #eee;
	float: left;
	border-radius: 5px;
	margin: 2px; // MARGIN in javascript
	-webkit-transition: .2s ease-out all;
	-o-transition: .2s ease-out all;
	transition: .2s ease-out all;

	&.lastClicked {
		animation-duration: 6s;
		animation-delay: 5s;
		animation-name: pulse;
		animation-iteration-count: infinite;
	}
	&.wonStreak {
		animation-duration: 4s;
		animation-delay: 0s;
		animation-name: wonPulse;
		animation-iteration-count: infinite;	
	}
}
@keyframes pulse {
	0% {
  		transform: scale(1);
	}

	2.5%, 7.5% {
		transform: scale(1.2);
	}

	5% {
		transform: scale(1);	
	}

	10%, 100% {
		transform: scale(1);
	}
}

@keyframes wonPulse {
	0% {
		transform: scale(1) rotateZ(0);
	}
	
	5% {
		transform: scale(1.2) rotateZ(0);
	}
	
	35%, 100% {
		transform: scale(1) rotateZ(1turn);
	}

	

	
}

.player1 {
	background: $red;
}

.player2 {
	background: $blue;
}

.player3 {
	background: $yellow;
}

.player4 {
	background: $green;
}
.player5 {
	background: $pink;
}
.player6 {
	background: $purple;
}

.turn div{
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	top: 8px;
	border-radius: 5px;

	animation-duration: 10s;
	animation-delay: 4s;
	animation-name: turnAround;
	animation-iteration-count: infinite;
}
@keyframes turnAround {
	0% {
	  transform: rotate(0);
	}

	10%, 100% {
	  transform: rotateZ(1turn);
	}
}

.turn {
	line-height: 50px;
}

.crafted {
	text-align: center;
}
.crafted a {
	color: $blue;
}
.button {
	background: $pink;
	border-radius: 5px;
	font-family: inherit;
}
.button:hover {
	background: darken($pink,10%);
}
#new_game {
	margin: 1rem 0;
	display: block;
}

#back {
	
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	text-align: center;
	width: 100px;
	float: right;
	
	// background: #E5B96F;
	color: white;
	margin-top: 5px;

}
// #back:hover {
// 	background: darken(#E5B96F,10%);
// }
.version {
	text-align: center;
}

.settings {
	margin: 0;
	list-style: none;
	overflow: auto;
	cursor: pointer;
	li {
		float: left;
		padding: 10px 20px;
		margin: 2px 5px;
		background: $darkColor;
		border-radius: 5px;
		&:first-child{
			margin-left: 0;
		}
		&.selected {
			&:nth-child(6n+1) { background: $red }
			&:nth-child(6n+2) { background: $blue }
			&:nth-child(6n+3) { background: $yellow }
			&:nth-child(6n+4) { background: $green }
			&:nth-child(6n+5) { background: $pink }
			&:nth-child(6n) { background: $purple }
			background: $highlightColor;
		}
	}	
}

#learning_mode {
	position: relative;
	margin: 1rem 0;
	background: $highlightColor;
	// border: 3px solid $highlightColor;
	display: block;
	&.checked {
		background: $pink;
	}
	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: -5px;
	// 	height: 5px;
	// 	background: red;
	// }
}